__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.log
*.pot

# vscode
.vscode/